.search-auto-complete {
  position: relative;
  width: 300px; /* Adjust as needed */
  display: inline-block;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  width: 100%;
  max-height: 300px; /* Set the max height for the list */
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestion-content {
  display: flex;
  align-items: center;
}

.suggestion-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.suggestion-details {
  display: flex;
  flex-direction: column;
}

.suggestion-name {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.suggestion-price {
  color: green;
  font-size: 14px;
  margin-top: 2px;
}

.suggestion-manufacturer {
  font-size: 12px;
  color: #555;
  margin-top: 2px;
}
